{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
  Графік відпусток
{% endblock %}

{% block content %}

  {% include "includes/page_header.html" with page=page navigation=page.navigation %}
  {% include "includes/page_actions.html" with actions=page.actions %}
  {% include "includes/filter_form.html" with form=page.filter_form %}

  <div class="schedule-legend">

    <div class="schedule-legend-item">
      <span class="legend-box legend-planned"></span>
      Запланована
    </div>

    <div class="schedule-legend-item">
      <span class="legend-box legend-approved"></span>
      Погоджена
    </div>

    <div class="schedule-legend-item">
      <span class="legend-box legend-active"></span>
      У відпустці
    </div>

  </div>

  <div class="schedule-wrapper shadow-sm border rounded">

    {#    <table class="table table-bordered table-sm schedule-table">#}
    <table class="schedule-table">
      <thead>

      <tr>

        <th rowspan="2" class="schedule-person-header">
          Військовослужбовець
        </th>

        <th rowspan="2" class="schedule-position-header">
          Посада
        </th>

        {% for day in calendar %}

          <th class="text-center {% if day.is_weekend %}table-secondary{% endif %}">
            {{ day.weekday_short }}
          </th>

        {% endfor %}

      </tr>

      <tr>

        {% for day in calendar %}

          <th class="text-center {% if day.is_today %}table-primary{% elif day.is_weekend %}table-secondary{% endif %}">
            {{ day.day }}
          </th>

        {% endfor %}

      </tr>

      </thead>
      <tbody>
      {% for node in tree %}
        {% include "organization/unit_schedule.html" %}
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% block extra_js %}
    <script src="{% static 'js/vacations.js' %}"></script>
  {% endblock %}
{% endblock %}